<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>Twitter Clone</title>
</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home-page' %}">
                <i class="fas fa-film mr-2"></i>
                Twitter Clone
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1 active" aria-current="page" href="{% url 'index' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="{% url 'index' %}">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-4" href="{% url 'index' %}">Settings</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link nav-link-2" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link nav-link-2" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-2" href="{% url 'signup' %}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
            </div>
        </div>
    </nav>

    <div>.</div>



    <div>.</div>
    <div>
    {% block content %}
    {% endblock content %}
    </div>

    <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
        <div class="container-fluid tm-container-small">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                    <h3 class="tm-text-primary mb-4 tm-footer-title">About Twitter Clone</h3>
                    <p>Twitter Clone is the project about ...  </p>
                    <p>There is a long text about our social network. How yyou can use it and etc.</p>
                </div>
                
               
            </div>


            <div class="row">
                <div class="col-lg-8 col-md-7 col-12 px-5 mb-3">
                    Python ev. vol. 8
                </div>

                <div class="col-lg-4 col-md-7 col-sm-7 col-12 px-5 mb-3">
                    Created by Beki & Emi
                    
                </div>

            </div>
        </div>
    </footer>

    <script src="{% static 'js/plugins.js' %}"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
  
</body>
</html>