{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h3>Author: {{ tweet.author.username }}</h3><br>
    <p>{{ tweet.tweet_text }}</p><br>
    {% if tweet.tweet_image %}<img width="400" height="400" src="{{ tweet.image.url }}">{% endif %}<br>
    <p>Опубликовано: {{ tweet.created_at }}</p>
    <p>Изменено: {{ tweet.updated_at }}</p>
    
    <a href="{% url 'update-tweet' tweet.id %}">Update tweet</a> 
    <a href="{% url 'delete-tweet' tweet.id %}">Delete tweet</a>
    
{% endblock content %}

<!-- {% if user_has_permission %} -->
<!-- {% endif %} -->